<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="icon" href="icon_path" type="image/icon type">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include("./Partials/header.ejs")%>
    <div class="hero">
        <h1>Books Review</h1>
        <p>Books have a way of pulling you into different worlds. Some stay with you, some don’t. Here, I share my thoughts on different books—what stood out, what didn’t, and whether they’re worth your time.</p>
    </div>

    <% if(locals.posts.length){%>
    <div class="container">
        <% posts.forEach(post=> {%>
        <div class="card" id="<%= post.id%>">
            <div class="intro">
                <img src="/images/oldbooks.jpg" alt="books image" height="100px" width="100px">
                <h3><%= post.title%></h3>
                <p><%= post.date%></p>
                <p>Rating: <%= post.rating%>/10</p>
            </div>
            <hr/>
            <p><%= post.intro%></p>
            <p><a href="/notes/<%=post.id %>">Read more..</a></p>
        </div>
        <%})%>
    </div>
        <% }else {%>
            <div class="empty">
                <form action="/new">
                    <p>No Book Reviews</p>
                    <button>Create One</button>
                </form>
            </div>
        <%}%>
</body>
</html>