<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notes</title>
    <link rel="icon" href="icon_path" type="image/icon type">
    <link rel="stylesheet" href="/styles/note.css">
</head>
<body>
    <div class="container">
            <img src="/images/cat.jpg" alt="cat image" height="100px" width="100px">
            <h3><%= post.title%></h3>
            <small><%= post.date%></small>
            <small>Rating: <%= post.rating%>/10</small>
            <hr/>
            <p><%= post.intro%></p>
            <p><%= post.mynotes%></p>
            <p><a href="/edit/<%=post.id %>">Edit</a></p>
    </div>
</body>
</html>