<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notes</title>
    <link rel="stylesheet" href="/styles/note.css">
</head>
<body>
    <div class="container">
        <div class="intro">
            <img src="/images/oldbooks.jpg" alt="books image" height="100px" width="100px">
            <h2><%= post.title%></h2>
            <p><%= post.date%></p>
            <p>Rating: <%= post.rating%>/10</p>
        </div>            
        <hr/>
        <div class="details">
            <h4>Introduction Paragraph</h4>
            <p><%= post.intro%></p>
            <h4>My notes</h4>
            <p><%= post.mynotes%></p>
            <br>
            <div class="buttons">
                <a href="/edit/<%=post.id %>"><button>Edit</button></a>
                <a href="/delete/<%=post.id %>"><button>Delete</button></a>
            </div>
        </div>
    </div>
</body>
</html>